/* Variables */
$clr-white: #ffffff;
$clr-yellow: #fed136;
$clr-bg-gray: #f7f7f7;
$clr-text-gray: #737373;
$clr-gray: #777777;
$clr-dark-gray: #333333;
$clr-darker-gray: #222222;


/* Global */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    color: $clr-text-gray;
}

section {
    padding-bottom: 120px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: center;
    color: $clr-darker-gray;
}

h2 {
    font-family: 'PT Serif', sans-serif;
    font-size: 16px;
    font-style: italic;
    letter-spacing: -1px;
    text-align: center;
    color: $clr-text-gray;
}

img {
    margin: 0;
    display: block;
    object-fit: none;
}

a,
a:active,
a:visited,
a:link {
    text-decoration: none;
    color: $clr-white;
}

.cont-padding {
    padding: 0 92px !important;
}

.cont-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    gap: 125px;
}

/* Navigatiotn */

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
}

nav ul {
    list-style-type: none;
    color: $clr-white;
}

nav ul li {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 35px;
}

/* Header */

.container-header {
    margin: 0 auto;
    max-width: 1140px;
}

header {
    background-image: url('/images/bg-image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

header .header-inner h1, h2 {
    color: $clr-white;
    text-align: center;
}

header .header-inner h1,
        .button {
    text-transform: uppercase;
}

header .header-inner h2 {
    font-size: 40px;
}

header .header-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px);
}

header .header-inner h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: 700;
    margin-top: 17px;
    margin-bottom: 60px;
}

header .header-inner h2 {
    font-family: 'PT Serif', serif;
}

header .header-inner .button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 240px;
    height: 65px;
    background-color: $clr-yellow;
    color: $clr-white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

/* Services */


.services h1 {
    margin-bottom: 10px;
}

.services h2 {
    margin-top: 0;
    margin-bottom: 80px;
    color: $clr-text-gray;
    font-weight: 200;
    letter-spacing: 0.5px;
}

.services h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: $clr-darker-gray;
}

.services p {
    font-family: 'Roboto Slab';
    font-size: 14px;
    padding: 0 25px;
    text-align: center;
}

.services i {
    color: $clr-yellow;
    font-size: 36px;
    text-align: center;
}

.services .circle {
    width: 69px;
    height: 69px;
    color: transparent;
    border-radius: 50%;
    border: 3px solid $clr-yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service .align {
    text-align: center;
}
/* Portfolio */

.portfolio {
    background-color: $clr-bg-gray;
}

.portfolio img {
    width: auto;
}
.portfolio h1 {
    margin-bottom: 10px;
}

.portfolio h2 {
    margin-top: 0;
    margin-bottom: 80px;
    color: $clr-text-gray;
    font-weight: 200;
    letter-spacing: 0.5px;
}

.portfolio h3, h4 {
    flex: 0 0 100%;
}

.portfolio h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: $clr-darker-gray;
    margin-bottom: 0;
}

.portfolio h4 {
    font-family: 'PT Serif', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 0;
    text-align: center;
}

.portfolio .row {
    margin-bottom: 50px;
}

.portfolio .row .col-lg-4 > div {
        width: 291px;
        height: 90px;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
}

/* Footer */

footer {
    height: 120px;
}

footer a, footer a:visited, footer a:active, footer a:link {
    text-decoration: none;
    font-size: 0;
}

footer span {
    display: inline-block;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline-block;
    position: relative;
}

footer ul li i {
    position: absolute;
    display: inline-block;
    font-size: 30px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

footer .social-media {
    height: 60px;
    width: 60px;
    padding: 5px;
    background-color: $clr-darker-gray;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
}
